html {
  height: 100%;
}

body {
  background: linear-gradient(to bottom right, #3cf 0%, #f9c 100%);
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.95rem;
}

h1 {
  text-align: center;
}

p {
  display: inline;
  padding-left: 5px;
}

.flex {
  display: flex;
}

.flex--justify-content {
  justify-content: center;
}

.flex--flex-direction {
  flex-direction: column;
}

.block {
  display: inline;
  text-align: left;
  width: 140px;
}
